<div class="footer--">
<div class="footer--links">
{% comment %} SET CUSTOM LINKS {% endcomment %}
<div class="footer--pages">
<a href="/">About</a>
<a href="/">Blog</a>
<a href="/">FAQ</a>
</div>
 <div class="footer--social">
<a href="/">Instagram</a>
<a href="/">Youtube</a>
<a href="/">FAQ</a>
</div>
<div>

</div>
</div>

<div class="footer--copyright">
<div class="footer--shopname">{{shop.name}}</div>
<div class="footer--copy">©<script>document.write(new Date().getFullYear())</script> {{shop.name}}, All Rights Reserved</div>
</div>


</div>