<div class="page">{{ page.content }}</div>
<style>
.page {
    height: 100vh;
    color: #003459;
    font-family: Lunchtype Medium;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}
</style>